.settings .setting {
  margin-top: 2.5rem;
}
.settings .setting:first-child {
  margin-top: 0;
}
.settings .setting:nth-child(2) {
  margin-top: 0;
}
.settings .setting img {
  margin-top: 15px;
  border: 1px solid #ccc;
  max-width: 100%;
}
