@import "./node_modules/typebase.css/typebase.css";

appBarHeight = 66px;

body {
    margin: 0;
}

main, container {
    display:block;
}

p {
    margin-bottom: 0;
    font-size: .85rem;
}

main#app {
    section#controls {
        padding: 0 1rem;
        height: "calc(100vh - %s)" % (appBarHeight);
        display:flex;
        flex-direction: column;

        div#top{
            flex: 1;
            display: flex;
            align-items: center;

            > div {
                width: 100%;
            }
        }

        form#bottom, div#bottom {

        }
    }
}