section.home .subscribers {
  overflow: hidden;
  overflow-y: auto;
  height: calc(100% -  48px);
}
section.home .subscribers .subscriber p.win-type-body {
  margin: .5rem 0;
}
section.home .subscribers .subscriber p.state {
  text-transform: capitalize;
}
section.home .subscribers .subscriber hr {
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 1rem 0;
  width: 100%;
}
section.home .subscribers .subscriber:last-child hr {
  display: none;
}
